.container {
    // margin-top: 2rem;
    height: 100vh;
    display: flex;
    
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50vw;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

.image {
    background: url('../../img/Periodic_table.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 25% 45%;
}