.btn {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.75rem 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    background: #34d403;
    margin-top: 2rem;
}

.btn:hover {
    background: rgb(60, 255, 0);
}