.element {
    border: 1px solid black;
    text-align: center;
    width: 3.9rem;
    background: #cecece;

    h4 {
        font-size: 1.5rem;
    }

    span {
        display: block;
        font-size: 0.75rem;
        margin-top: 0.2rem;
    }
}

.missing {
    width: 3.9rem;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    background: #303030;

    h4 {
        font-size: 3rem;
    }
}

.table {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.hidrogen {
    background: #A3C7D2;
}

.mAlcaline {
    background: #EBBFD8;
}

.mTerra {
    background: #FBC9E5;
}

.tMetal {
    background: #5BC2E7;
}

.bLine {
    background: #CEDC00;
}

.cLine {
    background: #D1A2CB;
}

.nLine {
    background: #B1B7B2;
}

.oLine {
    background: #F0B323;
}

.fLine {
    background: #EAB37F;
}

.noble {
    background: #EADA24;
}

.lact {
    background: #BFEAEC;
}

.acti {
    background: #A2D34D;
}