.element {
    border: 1px solid black;
    text-align: center;
    width: 3.9rem;
    background: #cecece;

    h4 {
        font-size: 1.5rem;
    }

    span {
        display: block;
        font-size: 0.75rem;
        margin-top: 0.2rem;
    }
}

.missing {
    width: 3.9rem;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    background: #303030;

    h4 {
        font-size: 3rem;
    }
}

.table {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
